@use 'assets/styles/variables.scss' as *;

.services {
  display: flex;
  flex-direction: column;

  hr {
    width: $gap-32;
    margin: $gap-16 0 $gap-32 0;
    border: none;
    height: 1px;
    background-color: $color-neutral-100;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $gap-32;

    @media (max-width: $screen-1024) {
      grid-template-columns: repeat(2, 1fr);
      gap: $gap-24;
    }

    @media (max-width: $screen-640) {
      grid-template-columns: repeat(1, 1fr);
      gap: $gap-16;
    }
  }

  .service {
    // box-shadow: 0 10px 10px -5px $color-neutral-500;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px -5px;

    .image {
      position: relative;
      width: 100%;
      height: 120px;
    }

    .body { 
      padding: $gap-32 $gap-16;

      h4 {
        margin-bottom: $gap-16;
      }
    }
  }
}