@use 'assets/styles/variables.scss' as *;

.container {
    display: inline-block;
    padding: 4px $gap-8;
    font-size: $size-12;
    color: $color-primary-darker;
    text-transform: uppercase;
    border: 1px solid $color-primary;
}

.link {
    @extend .container;
    cursor: pointer;

    &:hover { 
        border: 1px solid $color-primary-darker;
    }
}